$dark-text: #b4afab;
$orange: #f7a059;


.container {
    position: fixed;
    bottom: 0;
    left: 5;
    color: $dark-text;

    .social-icons {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        
        li {
            margin-bottom: 10px;
            font-size: 1.5em;
        }

        li:hover {
            color: $orange;
            transform: translateY(-5px)
        }
    }

    .social-icons:after {
        content: '';
        display: block;
        width: 1px;
        height: 20vh;
        background-color: $dark-text;
    }
}