$dark-text: #b4afab;
$orange: #f7a059;
$div-back: #576786;


.third-page {
    position: relative;
    height: 100vh;
    justify-content: center;
    .tab-cont {
        position: relative;
        width: 70vw;
        height: 50vh;
        padding: 10px;
        margin: auto;
        text-align: left;
        top: 8vh;
        margin: auto;

        .experience {
            font-size: 3em;
            color: white;
            margin-bottom: 2em;
        }

        .tab {
            float: left;
            // border: 1px solid #ccc;
            width: 25%;
            height: 300px;
        }

        .tab button {
            display: block;
            background-color: inherit;
            color: $dark-text;
            font-size: 1.2em;
            padding: 22px 16px;
            width: 100%;
            border: none;
            border-left: solid 3px $dark-text;
            outline: none;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
        }

        .tab button.active {
            border-left: solid 5px $orange;
            color: $orange;
            background-color: $div-back;
        }

        .tab-content {
            float: left;
            padding: 0px 50px;
            // border: 1px solid #ccc;
            width: 60%;
            border-left: none;
            height: 300px;

            .job-title {
                font-size: 1.5em;
                margin: 10px 0 5px;
                color: white;

                .hilight {
                    color: $orange;
                }
            }

            .dates {
                color: $dark-text;
                font-size: 1em;
                margin-bottom: 20px;
            }

            .bullets {
                color: $dark-text;
                font-size: 1.2em;

                li {
                     margin: 15px 0;
                     list-style: none;
                }

                li::before {
                    content: '\25B2';
                    display: inline-block;
                    margin-right: 1em;
                    margin-left: -2em;
                    font-size: 20px;
                    color: $orange;
                }
            }
        }

        #boot {
            display: none;
        }
    };
}