$dark-text: #b4afab;
$orange: #f7a059;
$div-back: #576786;


.reverse-card-cont {
    height: 450px;
    width: 100%;
    margin: 30px auto;
    position: relative;
    text-align: left;

    .reverse-title-cont {
        line-height: 5px;
        padding-top: 10px;

        h4 {
            font-size: 1em;
            color: $orange;
        }

        h5 {
            font-size: 2em;
            margin: 30px 0 50px;
            color: white;
        }
    }
    .reverse-project-image {
        height: 400px;
        width: 60%;
        background:url(../../assets/quiz.JPG);
        background-size: 100% 100%;
        border-radius: 10px;
        position: absolute;
        top: 0;
        right: 0;

        .filter {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            background-color: #f7a059ea;
            transition: opacity 1s ease-in;
        }

        .filter:hover {
            opacity: 0;
        }
    }

    .reverse-project-desc {
        width: 60%;
        padding: 10px;
        text-align: left;
        position: absolute;
        left: 0;
        margin: auto;
        background-color: $div-back;
        color: $dark-text;
        border-radius: 5px;
        font-size: 1.2em;
        padding: 20px;
    }

    .reverse-technologies {
        position: relative;
        width: 40%;
        top: 35%;
        left: 0;
        float: left;


        .reverse-tech-list {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding-left: 0;
            padding-right: 15px;
            margin-left: 0;
            float: left;
            width: 70%;
            font-size: 1.2em;
            color: $dark-text;
        }
    }

    .reverse-project-links {
       display: inline-flex;
       position: relative;
       left: -380px;
       bottom: -200px;
       width: 300px;

       ul {
            display: inline-flex; 
            align-content: space-between;
            text-decoration: none;
            list-style: none;
            padding-left: 0;

            li {
                font-size: 1.5em;
                color: $dark-text;
                margin-left: 0;
                margin-right: 30px;

                a {
                    color: inherit
                }
            }

            li:hover {
                color: $orange;
            }

       }
    }

    @media only screen and (max-width: 600px) {
        text-align: left;
        padding: 10px 10px 50px 0;
        margin: 20px auto;
        background-color: $div-back;
        
        .reverse-project-desc {
            width: 90%;
            margin-left: 0;
            margin-top: 50px;
            padding: 0;
            padding-left: 20px;
            font-size: 1.1em;
            line-height: 1.4em;
            position: relative;
            background-color: rgba(255, 255, 0, 0);
        }

        .work-cont {
            margin-top: 3em;
        }
        
        .reverse-title-cont {
            line-height: 5px;
            padding-top: 10px;
            padding-left: 20px;
    
            h4 {
                font-size: 1em;
            }
    
            h5 {
                font-size: 1.9em;
                margin: 30px 0 20px;
            }
        }

        .reverse-project-image {
            display: none;
        }
        
        .reverse-technologies {
            position: none;
            width: 100%;
            top: 0;
            left: 0;
            right: auto;
            float: none;
            font-size: 12px;

            .reverse-tech-list {
                float: none;
                padding-left: 0;
                margin-left: 20px;

                .reverse-lang { 
                    padding-left: 20px;
                }
            }
        }

        .reverse-project-links {
            left: -45px; 
            bottom: 0;

             ul {
                 margin-left: 0;
                 position: absolute;
                 bottom: -70px;
                 left: 45px;
                 font-size: 1.8em;
                 list-style: none;
                 padding-left: 25px;
                 padding-bottom: 10px;
                 
                 li {
                     float: left;
                     color: $orange;
                     text-decoration: none;
                     font-size: 1em;
                     padding-right: 0px;

                     a {
                        color: $dark-text;
                     }
                     
                     a:hover {
                        color: $orange;
                     }
                 }

                 .size-down {
                    font-size: .9em;
                }
             }   
        }
    }
}