$dark-text: #b4afab;
$orange: #f7a059;
$div-back: #576786;


.reverse-card-cont {
    height: 450px;
    width: 100%;
    margin: 30px auto;
    position: relative;
    text-align: left;

    .reverse-title-cont {
        line-height: 5px;
        padding-top: 10px;

        h4 {
            font-size: 1em;
            color: $orange;
        }

        h5 {
            font-size: 2em;
            margin: 30px 0 50px;
            color: white;
        }
    }
    .reverse-project-image {
        height: 400px;
        width: 60%;
        border: 1px black solid;
        position: absolute;
        top: 0;
        right: 0;
    }

    .reverse-project-desc {
        width: 60%;
        padding: 10px;
        text-align: left;
        position: absolute;
        left: 0;
        margin: auto;
        background-color: $div-back;
        color: $dark-text;
        font-size: 1.2em;
        padding: 20px;
    }

    .reverse-technologies {
        position: relative;
        width: 40%;
        top: 35%;
        left: 0;
        float: left;


        .reverse-tech-list {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding-left: 0;
            padding-right: 15px;
            margin-left: 0;
            float: left;
            width: 70%;
            font-size: 1.2em;
            color: $dark-text;
        }
    }

    @media only screen and (max-width: 600px) {
        text-align: left;
        padding: 10px 10px 10px 0;
        margin: 20px auto;
        background-color: $div-back;
        
        .reverse-project-desc {
            width: 90%;
            margin-left: 0;
            margin-top: 50px;
            padding: 0;
            padding-left: 20px;
            font-size: 1.1em;
            line-height: 1.4em;
            position: relative;
            background-color: rgba(255, 255, 0, 0);
        }

        .work-cont {
            margin-top: 3em;
        }
        
        .reverse-title-cont {
            line-height: 5px;
            padding-top: 10px;
            padding-left: 20px;
    
            h4 {
                font-size: 1em;
            }
    
            h5 {
                font-size: 1.9em;
                margin: 30px 0 20px;
            }
        }

        .reverse-project-image {
            display: none;
        }
        
        .reverse-technologies {
            position: none;
            width: 100%;
            top: 0;
            left: 0;
            right: auto;
            float: none;
            font-size: 12px;

            .reverse-tech-list {
                float: none;
                padding-left: 0;
                margin-left: 20px;

                .reverse-lang { 
                    padding-left: 20px;
                }
            }
        }

        .reverse-project-links {
             ul {
                 margin-left: 0;
                 position: absolute;
                 bottom: 0;
                 font-size: 1.8em;
                 list-style: none;
                 padding-left: 25px;
                 
                 li {
                     float: left;
                     padding-right: 20px;
                     color: $orange;
                     text-decoration: none;
                 }

                 .size-down {
                    font-size: .9em;
                }
             }   
        }
    }
}