$dark-text: #b4afab;
$orange: #f7a059;

.second-page {
    position: relative;
    height: 100vh;
    width: 100vw;

    .about-me-container {
        position: relative;
        width: 70vw;
        height: 50vh;
        padding: 10px;
        margin: auto;
        text-align: left;
        top: 10vh;

        .para-cont {
            margin-top: 2em;
        }

        .about-me {
            height: fit-content;
            display: inline;
            font-size: 3em;
            color: white;
        }

        .about-me::after {
            content: '';
            display: block;
            position: relative;
            top: -5%;
            right: -5em;
            height: 14px;
            width: 140%;
            color: $dark-text;
        }

        .about-para {
            width: 55%;
            height: fit-content;
            position: relative;
            font-size: 1em;
            padding: 0 45px 20px 0;
            color: $dark-text;

            .boa {
                color: $orange;
            }
        }

        .photo-place-holder {
            height: 80%;
            width: 400px;
            position: absolute;
            right: 2%;
            top: 25%;
            margin: auto;
            border-width: 1px;
            border-color: black;
            border-style: solid;
        }

        @media only screen and (min-width: 1380px) {
            .about-para {
                font-size: 1.5em;
            }
        }

        @media only screen and (max-width: 600px) {
                width: 80vw;
                margin: 0 30px;
                padding-right: 30px;
            
            .about-me {
                font-size: 2em;
            }

            .para-cont, .about-para {
                width: 100%;
                margin: 0;
                padding: 0;
                font-size: 1.1em;
                line-height: 1.5em;
            }

            .photo-place-holder {
                position: relative;
                margin: 0 auto;
            }
        }
    }
}