$dark-text: #b4afab;
$orange: #f7a059;

.intro-page {
    height: 100vh;
    width: 100vw;


    .parent-container {
        position: relative;
        width: 70vw;
        height: fit-content;
        top: 20vh;
        margin: auto;
        display: block;
        text-align: left;

        .main-container {
            position: relative;
        }

        .hello {
            margin-left: 5px;
            font-size: 1.5em;
            color: $orange
        }

        .name {
            font-size: 4em;
            line-height: 60px;
            margin: 10px 0;
            color: rgb(243, 243, 243);
        }
        
        .job {
            font-size: 4em;
            margin: 10px 0;
            // color: rgb(150, 150, 150);
            color: $dark-text;
        }

        .biography {
            width: 60%;
            margin-left: 5px;
            font-size: 1.2em;
            color: $dark-text;
        }

    }
}