$dark-text: #b4afab;
$orange: #f7a059;
$div-back: #576786;
$tech-text: 'Share Tech', sans-serif;
$bold-text: 'Roboto', sans-serif;


.card-cont {
    height: 450px;
    width: 100%;
    margin: 30px auto;
    position: relative;
    text-align: right;

    .title-cont {
        line-height: 5px;
        padding-top: 10px;

        h4 {
            font-size: 1em;
            color: $orange;
            font-family: $tech-text;
        }

        h5 {
            font-size: 2em;
            margin: 30px 0 50px;
            color: white;
            font-family: $bold-text;
            font-weight: 900;
        }
    }
    .project-image {
        height: 400px;
        width: 60%;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;

        .filter {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            background-color: #f7a059ea;
            transition: opacity 1s ease-in;
        }

        .filter:hover {
            opacity: 0;
        }
    }

    .project-1 {
        background-image: url('../../assets/wordle.JPG');
        background-size: 100%;
    }

    .project-3 {
        background-image: url('../../assets/pokedex.JPG');
        background-size: 100% 100%;
    }

    .project-desc {
        width: 60%;
        text-align: left;
        position: absolute;
        right: 0;
        margin: auto;
        background-color: $div-back;
        color: $dark-text;
        font-size: 1.2em;
        padding: 20px;
        font-family: $bold-text;
        font-weight: 400;
        border-radius: 5px;
    }

    .technologies {
        position: relative;
        width: 40%;
        top: 35%;
        right: 0;
        float: right;

        .tech-list {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding-right: 0;
            margin-right: 0;
            float: right;
            width: 70%;
            font-size: 1.2em;
            color: $dark-text;
            font-family: $tech-text;
        }
    }

    .project-links {
        color: white;
        right: 0px;
        bottom: 70px;
        text-decoration: none;
        align-content: space-between;
        position: absolute;
        width: 200px;
        
        li {
            list-style: none;
            display: inline-flex;
            color: white;
            margin-left: 30px;
            font-size: 1.5em;
        }

        .fa-brands, .fa-solid {
            color: $dark-text
        }

        .fa-brands:hover, .fa-solid:hover {
            color: $orange
        }
    }

    @media only screen and (max-width: 600px) {
        text-align: left;
        padding: 10px 10px 10px 0;
        margin: 20px auto;
        background-color: $div-back;
        
        .project-desc {
            width: 90%;
            margin-left: 0;
            margin-top: 50px;
            padding: 0;
            padding-left: 20px;
            font-size: 1.1em;
            line-height: 1.4em;
            position: relative;
            background-color: rgba(255, 255, 0, 0);
        }

        .work-cont {
            margin-top: 3em;
        }
        
        .title-cont {
            line-height: 5px;
            padding-top: 10px;
            padding-left: 20px;
    
            h4 {
                font-size: 1em;
            }
    
            h5 {
                font-size: 1.9em;
                margin: 30px 0 20px;
            }
        }

        .project-image {
            display: none;
        }
        
        .technologies {
            position: none;
            width: 100%;
            top: 0;
            left: 0;
            right: auto;
            float: none;
            font-size: 12px;

            .tech-list {
                float: left;
                padding-left: 0;

                .lang { 
                    padding-left: 20px;
                }
            }
        }

        .project-links {
            left: -45px;

             ul {
                 margin-left: 0;
                 position: relative;
                 bottom: -35px;
                 font-size: 1.8em;
                 list-style: none;
                 
                 li {
                     float: left;
                     padding-right: 20px;
                     color: $orange;
                     padding-right: 0;
                     font-size: 1em;
                 }

                 .size-down {
                     font-size: .9em;
                 }
             }   
        }
    }
}