$dark-text: #b4afab;
$orange: #f7a059;
$div-back: #576786;

.card-cont {
    height: 450px;
    width: 100%;
    margin: 30px auto;
    position: relative;
    text-align: right;

    .title-cont {
        line-height: 5px;
        padding-top: 10px;

        h3 {
            font-size: 1em;
            color: $orange;
        }

        h4 {
            font-size: 2em;
            margin: 30px 0 50px;
            color: white;
        }
    }
    .project-image {
        height: 400px;
        width: 60%;
        border: 1px black solid;
        position: absolute;
        top: 0;
        left: 0;
    }

    .project-desc {
        width: 60%;
        text-align: left;
        position: absolute;
        right: 0;
        margin: auto;
        background-color: $div-back;
        color: $dark-text;
        font-size: 1.2em;
        padding: 20px;
    }

    .technologies {
        position: relative;
        width: 40%;
        top: 35%;
        right: 0;
        float: right;

        .tech-list {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding-right: 0;
            margin-right: 0;
            float: right;
            width: 70%;
            font-size: 1.2em;
            color: $dark-text;
        }
    }
}