$dark-text: #b4afab;
$orange: #f7a059;
$tech-text: 'Share Tech', sans-serif;

.last-page {
    height: 100vh;
    width: 100vw;
    position: relative;

    .contact {
        position: relative;
        top: 10vh;
        width: 70vw;
        margin: auto;
        text-align: left;

        h3 {
            display: inline;
            font-size: 3em;
            color: white;
        }

        .contact-form {
            display: block;
            box-sizing: border-box;
            align-items: left;
            border-right: 1px solid $dark-text;
            width: 50%;
            padding: 20px 0 30px 70px;
            margin-top: 40px;

            input, textarea {
                width: 90%;
                margin-right: 5%;
            }
            
            input {
                height: 25px;
            }

            input:focus {
                border: solid 1px $orange;
            }

            label {
                color: $orange;
                font-style: $tech-text;
                margin-bottom: 25px;
                font-size: 1.2em;
            }

            .submit-button {
                padding: 5px 8px;
                font-weight: normal;
                background-color: rgba(255, 255, 255, 0);
                border-radius: 2px;
                font-size: 1em;
                font-style: $tech-text;
                top: 10px;
                position: relative;
                color: $orange;
                border: solid 2px $orange;
            }
        }

        .right {
            position: absolute;
            right: 0;
            top: 110px;    
            padding: 100px;
            padding-top: 30px;

            h5 {
                font-size: 2.5em;
                margin-top: 20px;
                margin-bottom: 20px;
                color: white;
                font-family: $tech-text;

                i {
                    color: $orange
                }

                a {
                    text-decoration: none;
                    color: inherit;
                }
                a:hover {
                    color: $orange;
                }
            }
        }
    }


    @media only screen and (max-width: 400px) {

        .contact {
            display: block;
            .contact-form {
                width: 100%;
                border-right: none;
                margin: 0;
                padding: 0;
                margin-top: 20px;
            }

            .right {
                padding: 0;
                position: relative;
                top: 20px;

                h5 {
                    font-size: 2em;
                }
            }
        }
        
    }
}