.nav-bar {
    position: inline-flex;

    .logo {
        float: left;
        margin: 16px 15px;
    }

    ul, .hamburger{
        float: right;
        display: flex;
        justify-content: flex-end;
        list-style: none;

        li {
            margin: 0 15px
        }
    }

    .hamburger {
        display: none;
    }

    @media only screen and (max-width: 600px) {
        ul {
            display: none;
        }

        .hamburger {
            display: flex;
            padding: 16px 15px;
        }
    }
}