$dark-text: #b4afab;
$orange: #f7a059;

.nav-bar {
    position: inline-flex;

    .logo {
        float: left;
        margin: 16px 15px;
        margin-left: 50px;
        color: $orange;
        font-weight: bolder;
    }

    ul, .hamburger{
        float: right;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin-right: 60px;

        li {
            margin: 0 15px;
            color: $dark-text;
        }

        li:hover {
            color: $orange;
        }
    }

    .hamburger {
        display: none;
    }

    @media only screen and (max-width: 600px) {
        ul {
            display: none;
        }

        .hamburger {
            display: flex;
            padding: 16px 15px;
        }
    }

}

.scrolled {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}