$dark-text: #b4afab;
$orange: #f7a059;
$tech-text: 'Share Tech', sans-serif;
$bold-text: 'Roboto', sans-serif;


.nav-bar {
    position: inline-flex;
    padding-top: 10px;

    .logo {
        float: left;
        margin: 6px 15px;
        margin-left: 50px;
        color: $orange;
        font-weight: bolder;

        img {
            height: 45px;

        }
    }

    counter-set: nav-counter;

    ul, .hamburger{
        float: right;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin-right: 60px;

        li {
            margin: 0 15px;
            font-weight: bold;
            color: $dark-text;
            font-family: $tech-text;

            a {
                text-decoration: none;
                color: inherit;
            }
        }

        li:hover {
            color: $orange;
        }

        li:before {
            content: counter(nav-counter, decimal-leading-zero) '.';
            counter-increment: nav-counter;
            margin-right: 4px;
            color: $orange;
        }

        
        .resume-button { 
            padding: 5px 8px;
            font-weight: normal;
            border-radius: 2px;
            font-size: 1em;
            top: -7px;
            position: relative;
            color: $orange;
             border: solid 2px $orange;
        }

        .resume-button:before {
            display: none;
        }

    }

    .hamburger {
        display: none;
    }

    @media only screen and (max-width: 600px) {
        padding-top: 0;
        
        ul {
            display: none;
        }

        .hamburger {
            display: flex;
            padding: 16px 15px;
            margin-right: 30px;
            color: $orange;
            font-size: 1.5em;
            padding-top: 25px;
        }

        .logo {
            margin-left: 30px;

            img {
                margin-top: 8px;
            }
        }
    }

    @media only screen and (min-width: 1380px) {
        font-size: 1.1em      
    }


}

.scrolled {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}