$dark-text: #b4afab;
$orange: #f7a059;

.nav-bar {
    position: inline-flex;

    .logo {
        float: left;
        margin: 16px 15px;
        margin-left: 50px;
        color: $orange;
        font-weight: bolder;
    }

    counter-set: nav-counter;

    ul, .hamburger{
        float: right;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin-right: 60px;

        li {
            margin: 0 15px;
            font-weight: bold;
            color: $dark-text;

            a {
                text-decoration: none;
                color: inherit;
            }
        }

        li:hover {
            color: $orange;
        }

        li:before {
            content: counter(nav-counter, decimal-leading-zero) '.';
            counter-increment: nav-counter;
            margin-right: 4px;
            color: $orange;
        }
    }

    .hamburger {
        display: none;
    }

    @media only screen and (max-width: 600px) {
        ul {
            display: none;
        }

        .hamburger {
            display: flex;
            padding: 16px 15px;
            margin-right: 30px;
            color: $orange;
            font-size: 1.5em;
            padding-top: 20px;
        }

        .logo {
            margin-left: 30px;
        }
    }

    @media only screen and (min-width: 1380px) {
        font-size: 1.1em      
    }


}

.scrolled {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}