.fourth-page {
    display: block;
    overflow: auto;
    width: 100vw;
    padding-bottom: 15vh;

    .work-container {
        width: 70%;
        margin: auto;
        position: relative;
        top: 25vh;
        text-align: left;

        .my-work {
            height: fit-content;
            display: inline;
            font-size: 2em;
        }
    }
} 