.fourth-page {
    display: block;
    overflow: visable;
    width: 100vw;
    padding-bottom: 10vh;

    .work-container {
        width: 70%;
        margin: auto;
        position: relative;
        top: 10vh;
        text-align: left;

        .my-work {
            height: fit-content;
            display: inline;
            font-size: 3em;
            color: white;
        }

        .work-cont {
            margin-top: 5em;
        }
    }


    @media only screen and (max-width: 600px) {

        .work-container {
            width: 80%;
            margin: 0 auto;
        }
        .my-work {
            font-size: 2em !important;
        }
    }
} 