$orange: #f7a059;
$tech-text: 'Share Tech', sans-serif;



.App {
    counter-set: section-counter;

    section {
        h3:before {
            content: counter(section-counter, decimal-leading-zero) '.';
            counter-increment: section-counter;
            margin-right: 10px;
            color: $orange;
            font-family: $tech-text;
        }
    }

    .hide {
        display: none;
    }
}